
<div class="form-style-6">
    <h1>MQTT admin</h1>
    <form>
        <input type="submit" name="connect" value="Connect" class="btn-connect" />
        <input type="button" name="disconnect" value="Disconnect" class="btn-disconnect" />
        <div class="clear"></div>
    </form>
</div>

<div class="form-style-6">
    <form>
        <input type="text" name="message" value="" class="input-message" placeholder="Message" />
        <input type="submit" name="publish" value="Publish" class="btn-publish" />
        <div class="clear"></div>
    </form>
</div>

<div class="messagesWrapper">
    <div class="form-style-6">
        <h2>Log</h2>
        <div class="messages"></div>
        </div>


    <div class="client"></div>
</div>

<script type="text/javascript">

</script>